.bg-mapa{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, #94bbe995 100%);
    width: 100%;
}

.btn-consultar{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, #94bbe995 100%);
    border-radius: 7px;
}

.mapa-img{
    width: 100%;
    object-fit: cover;
    border: 2px solid #eeaeca;
}

#cep{
    display: flex;
    justify-content: flex-start;
}

input{
    color: #066bdd95;
    font-weight: bold;
  }
